Repository frequenz-floss/frequenz-client-electricity-trading-python, pull requests merged in 2024-08, with the labels that each got.

#23 Restrict the decimal points of the quantity and price
  RELEASE_NOTES.md
  src/frequenz/client/electricity_trading/_client.py
  tests/test_client.py
  tests/test_validate_decimal_places.py
Labels: part:docs, part:tests

#27 Integrate `BaseApiClient` into the `Client`
  RELEASE_NOTES.md
  pyproject.toml
  src/frequenz/client/electricity_trading/_client.py
  tests/test_client.py
Labels: part:docs, part:tests, part:tooling

#24 Update repo-config from v0.9.2 to v0.10.0
  .github/containers/test-installation/Dockerfile
  .github/workflows/ci.yaml
  .github/workflows/release-notes-check.yml
  docs/_scripts/macros.py
  mkdocs.yml
  pyproject.toml
Labels: part:docs, part:tooling

#29 Add key based authorization to API Client
  RELEASE_NOTES.md
  src/frequenz/client/electricity_trading/_client.py
Labels: part:docs

#32 Update README with usage instructions
  README.md
Labels: part:docs

#33 Update mkdocstrings-python to 1.10.8
  README.md
  pyproject.toml
Labels: part:docs, part:tooling

#35 Clear release notes
  RELEASE_NOTES.md
Labels: part:docs

#36 Fix minor issues found in a code session with Ostrom
  README.md
  pyproject.toml
Labels: part:docs, part:tooling

#37 Fix list gridpool orders
  RELEASE_NOTES.md
  src/frequenz/client/electricity_trading/_client.py
Labels: part:docs

#38 Clear release notes after releasing v0.2.3
  RELEASE_NOTES.md
Labels: part:docs
