Repository frequenz-floss/frequenz-client-electricity-trading-python, pull requests merged in 2024-12, with the labels that each got.

#70 Integration test edge cases
  RELEASE_NOTES.md
  integration_tests/test_api.py
  src/frequenz/client/electricity_trading/_client.py
Labels: part:docs

#78 Add `__str__` methods for the `Price` and `Power` classes
  RELEASE_NOTES.md
  src/frequenz/client/electricity_trading/_types.py
Labels: part:docs

#79 Replace `Energy` with `Power` in initialisation examples
  src/frequenz/client/electricity_trading/__init__.py
Labels: cmd:skip-release-notes

#81 Add tests for `str` formatting of `Price` and `Power` types
  tests/test_types.py
Labels: part:tests

#72 Add timeout to gRPC requests
  RELEASE_NOTES.md
  src/frequenz/client/electricity_trading/_client.py
Labels: part:docs, part:tests

#82 Fetch subsequent paginated data on `list_*` functions
  RELEASE_NOTES.md
  integration_tests/test_api.py
  src/frequenz/client/electricity_trading/_client.py
  tests/test_client.py
Labels: part:docs, part:tests

#84 Fix the formatting of the integration tests
  integration_tests/test_api.py
Labels: cmd:skip-release-notes

#85 Reset release notes after release of v0.3.1
  RELEASE_NOTES.md
Labels: part:docs
