Repository frequenz-floss/frequenz-client-electricity-trading-python, pull requests merged in 2024-09, with the labels that each got.

#45 Update to latest version for a bunch of dependencies
  RELEASE_NOTES.md
  pyproject.toml
  src/frequenz/client/electricity_trading/_client.py
  src/frequenz/client/electricity_trading/_types.py
  tests/test_types.py
Labels: part:docs, part:tests, part:tooling

#47 Add rules for `order_type` + unit tests for validation rules
  RELEASE_NOTES.md
  src/frequenz/client/electricity_trading/_client.py
  tests/test_client.py
Labels: part:docs, part:tests

#48 Fix variable name `max_nr_orders` to `max_nr_trades` for trades requests
  RELEASE_NOTES.md
  src/frequenz/client/electricity_trading/_client.py
Labels: part:docs

#50 Bump the required group across 1 directory with 12 updates
  pyproject.toml
  src/frequenz/client/electricity_trading/_client.py
  src/frequenz/client/electricity_trading/_types.py
  tests/test_client.py
Labels: cmd:skip-release-notes, part:tests, part:tooling

#51 Reset Release Notes after update to v0.2.4
  RELEASE_NOTES.md
Labels: part:docs
