Repository frequenz-floss/frequenz-client-electricity-trading-python, pull requests merged in 2024-10, with the labels that each got.

#56 Implement client instance reuse to avoid redundant TCP connections
  RELEASE_NOTES.md
  src/frequenz/client/electricity_trading/_client.py
Labels: part:docs

#52 Move documentation and code examples to the documentation website
  README.md
  RELEASE_NOTES.md
  src/frequenz/client/electricity_trading/__init__.py
  src/frequenz/client/electricity_trading/conftest.py
Labels: part:docs, part:tests, part:tooling

#57 Validate init examples with sybil
  README.md
  RELEASE_NOTES.md
  src/frequenz/client/electricity_trading/__init__.py
  src/frequenz/client/electricity_trading/conftest.py
Labels: part:docs, part:tests, part:tooling

#59 Remove the dependency on `googleapis`
  RELEASE_NOTES.md
  pyproject.toml
Labels: part:docs, part:tooling

#60 Replace `Energy` with `Power` for the `quantity` representation
  RELEASE_NOTES.md
  pyproject.toml
  src/frequenz/client/electricity_trading/__init__.py
  src/frequenz/client/electricity_trading/_client.py
  src/frequenz/client/electricity_trading/_types.py
  tests/test_client.py
  tests/test_types.py
Labels: part:docs, part:tests, part:tooling

#61 Fix documentation website link in `README.md`
  README.md
Labels: part:docs

#62 Update examples to use asyncio event loop
  src/frequenz/client/electricity_trading/__init__.py
Labels: cmd:skip-release-notes
