Repository frequenz-floss/frequenz-client-electricity-trading-python, pull requests merged in 2025-03, with the labels that each got.

#110 Return `GrpcStreamBroadcaster` instances from the streaming methods
  RELEASE_NOTES.md
  src/frequenz/client/electricity_trading/_client.py
  src/frequenz/client/electricity_trading/cli/etrading.py
  tests/test_client.py
Labels: part:docs, part:tests

#114 Limiting allowed range of trading API versions
  pyproject.toml
Labels: part:tooling

#115 Update frequenz-client-common requirement from <0.3.0,>=0.1.0 to >=0.1.0,<0.4.0
  RELEASE_NOTES.md
  pyproject.toml
  src/frequenz/client/electricity_trading/_client.py
Labels: part:docs, part:tooling

#112 Unify public trades streaming and listing
  RELEASE_NOTES.md
  pyproject.toml
  src/frequenz/client/electricity_trading/_client.py
  src/frequenz/client/electricity_trading/cli/__main__.py
  src/frequenz/client/electricity_trading/cli/etrading.py
  tests/test_client.py
Labels: part:docs, part:tests, part:tooling
