Repository frequenz-floss/frequenz-client-electricity-trading-python, pull requests merged in 2025-02, with the labels that each got.

#101 Log protobuf conversion issues
  RELEASE_NOTES.md
  src/frequenz/client/electricity_trading/_types.py
Labels: part:docs

#103 Support orders without price or quantity
  RELEASE_NOTES.md
  src/frequenz/client/electricity_trading/_types.py
  src/frequenz/client/electricity_trading/cli/etrading.py
  tests/test_types.py
Labels: part:docs, part:tests

#105 Add utils module with quantity quantization helper
  RELEASE_NOTES.md
  src/frequenz/client/electricity_trading/__init__.py
  src/frequenz/client/electricity_trading/_utils.py
  tests/test_utils.py
Labels: part:docs, part:tests

#104 Add receive-gridpool-trades command to CLI tool
  RELEASE_NOTES.md
  src/frequenz/client/electricity_trading/cli/__main__.py
  src/frequenz/client/electricity_trading/cli/etrading.py
Labels: part:docs

#106 Add options to the streaming receivers
  RELEASE_NOTES.md
  pyproject.toml
  src/frequenz/client/electricity_trading/_client.py
Labels: part:docs, part:tooling

#107 Print tags on orders in CLI tool
  RELEASE_NOTES.md
  src/frequenz/client/electricity_trading/cli/etrading.py
Labels: part:docs

#108 Rename CLI commands for clarity
  RELEASE_NOTES.md
  src/frequenz/client/electricity_trading/cli/__main__.py
  src/frequenz/client/electricity_trading/cli/etrading.py
Labels: part:docs
