Repository frequenz-floss/frequenz-client-electricity-trading-python, pull requests merged in 2025-04, with the labels that each got.

#117 Update repo-config from v0.11.0 to v0.13.0
  .github/dependabot.yml
  .github/workflows/ci-pr.yaml
  .github/workflows/ci.yaml
  RELEASE_NOTES.md
  docs/_scripts/macros.py
  integration_tests/test_api.py
  mkdocs.yml
  pyproject.toml
  tests/test_client.py
Labels: part:docs, part:tests, part:tooling

#120 Add the public order book extension to the Client
  RELEASE_NOTES.md
  pyproject.toml
  src/frequenz/client/electricity_trading/__init__.py
  src/frequenz/client/electricity_trading/_client.py
  src/frequenz/client/electricity_trading/_types.py
  tests/test_client.py
  tests/test_types.py
Labels: part:docs, part:tests, part:tooling

#132 Convert timestamp to UTC
  src/frequenz/client/electricity_trading/_client.py
Labels: cmd:skip-release-notes

#133 Ensure timestamp conversion errors are surfaced
  RELEASE_NOTES.md
  src/frequenz/client/electricity_trading/_client.py
Labels: part:docs
